streamlit
langchain_community
langchain
huggingface_hub
PyPDF2
BeautifulSoup4
faiss-cpu
altair
langchain-google-genai
tiktoken
langchain-groq
langchainhub
google-api-python-client
httpx[http2]
duckduckgo-search
wikipedia
